
/* VARIABLES */

:root {
    --color-danger:#ff7782;
    --color-success: #41f1b6;
    --color-warning: #ffbb55;
    --color-white: #EEEFF4;
    --color-gray: #B3B6C6;
    --color-darker-gray: #9395a2;
    --color-brown-light: #58473C;
    --color-brown-dark: #1D1614;
    --color-ochre-light: #AC9560;
    --color-ochre-dark: #83604D;
    --color-blue: #6462A1;
    --color-blue-bright: #3366FF;
}


/* ICONS */

.material-symbols-rounded {
  font-variation-settings:
  'FILL' 0,
  'wght' 500,
  'GRAD' 0,
  'opsz' 40
}


/* INIT */

*{
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: none;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
} 

html{
    font-size: 14px;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    font-size: 0.88rem;
    background: white;
    user-select: none;
    color: var(--color-brown-dark);
}


aside{
    height: 100vh;
    width: 15vw;
    display: flex;
    flex-direction: column;
    position: fixed;
}

aside .notifications{
    margin-bottom: -7vh;
    margin-left: 4vh;
    margin-top: 5vh;
    font-size: larger;
}

aside .notifications a span{
    font-size: 1.5rem;
    color: var(--color-darker-gray);
    transition: all 300ms ease;
}

aside .notifications a:hover{
    text-shadow: 0 0 10px var(--color-blue);
}

aside .notifications a:hover span{
    color: var(--color-blue-bright);
}

aside .top{
    display: flex;
    margin: 3vh;
    margin-bottom: 0px;
    margin-left: 3.5vw;
    font-size: larger;
}

aside .logo{
    gap: 0.8rem;
    display: flex;
    margin-top: 6vh;
    flex-direction: column;
    align-items: center;
}

aside .top .logo img{
    width: 4rem;
    height: 4rem;
    border-radius: 100%;
}

aside .top .logo h1{
    margin-bottom: -35px;
}


aside .sidebar{
    display: flex;
    flex-direction: column;
    height: 86vh;
    position: relative;
    top: 3rem;
    color: var(--color-brown-dark);
    margin-left: 2vw;
}

aside .sidebar a{
    display: flex;
    color: var(--color-darker-gray);
    margin-left: 2rem;
    gap: 1rem;
    align-items: center;
    position: relative;
    height: 3.7rem;
    font-size: 0.9rem;
    transition: all 300ms ease;
}

aside .sidebar a span{
    font-size: 1.5rem;
    color: var(--color-darker-gray);
    transition: all 300ms ease;
}

aside .sidebar a:hover{
    color: #6462A1;
    font-weight: 700;
    text-shadow: 0 0 15px var(--color-blue-bright); 
}

aside .sidebar a:hover span{
    margin-left: 1rem;
    color: var(--color-blue-bright);
}

aside .sidebar hr {
    border-top: 0.5px solid var(--color-darker-gray);  
    width: 80%;
    margin-left: -0.5vw;
}

.webpage{
    margin-left: 15vw;
    height: 100%;
    width: 85%;
}

.webpage .header{
    display: flex;
    width: 100%;
    height: 11vh;
    padding-top: 3vh;
    margin-bottom: -3vh;
}

.webpage .header h1 {
    font-size: 2.3rem;
    font-family: 'Averia Serif Libre', serif;
    font-weight: 800;
    align-self: center; 
}

.webpage .header span{
    font-size: 2.3rem;
    align-self: center;
    margin: 1rem;
    color: var(--color-gray);
    margin-left: 1.5rem;
    margin-right: 0.5rem;
}

.webpage .category-selector{
    width: 100%;
    height: 25vh;
    overflow: hidden; 
    display: flex;
    position: relative;
    /* justify-content: space-around; */
}

.webpage .category-selector button{
    height: 6.5vh;
    width: 4.3vw;
    margin: auto;
    padding: auto;
    align-items: center;
    background: var(--color-brown-dark);
    color: var(--color-white);
    border-radius: 20%;
    transition: all 300ms ease-in-out;
}


.webpage .category-selector button:hover{
    height: 8vh;
    width: 5.5vw;
    box-shadow: 0 0 15px var(--color-blue-bright);
}

.webpage .category-selector .category-cards{
    padding-top: 2rem;
    width: 60vw;
    height: 90%;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 10px;
    scrollbar-width: none;
    display: grid;
    gap: 1rem;
    grid-auto-flow: column;
    grid-auto-columns: 15%;
    overflow-x: auto;
    overscroll-behavior-inline: contain;
    scroll-behavior: smooth;
}
.category-cards::-webkit-scrollbar{
    display: none;
}

/* .snaps-inline{
    scroll-snap-type: inline mandatory;
    scroll-padding-inline: 24px;
}

.snaps-inline > * {
    scroll-snap-align: start;
} */

.webpage .category-selector button.card{
    background-color: var(--color-white);
    width: 100px;
    height: 133.33px;
    border-radius: 20%;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 300ms ease-in-out;
}

.webpage .category-selector button.card:hover{
    width: 110px;
    height: 140px;
    box-shadow: 0 0 10px var(--color-blue-bright);
}

.webpage .category-selector .category-cards button.card .category-logo{
    width: 100%;
    height: 52%;
    display: flex;
    justify-content: center;
    align-items: center;   
}
.webpage .category-selector .category-cards button.card .category-logo span{
    font-size: 3rem;
    color: var(--color-darker-gray);
    font-variation-settings: "FILL" 1;   
    
}

.webpage .category-selector .category-cards button.card .category-name{
    /* background-color: green;  */
    width: 100%;
    height: 28%;
    display: flex;
    justify-content: center;
    align-items: center;  
}
.webpage .category-selector .category-cards button.card .category-name {
    font-family: 'Poppins', sans-serif;
    color: var(--color-brown-dark);
    font-size: 1.1rem;
}   

.webpage .category-selector .category-cards button.card .category-count{
    /* background-color: yellow; */
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 25px;  
}
.webpage .category-selector .category-cards button.card .category-count{
    font-family: 'Poppins', sans-serif;
    color: var(--color-darker-gray);
    font-size: 0.8rem;
}

.books{
    height: 45%;
    width: 100%;
}
.books .book{
    height: 100%;
    width: 100%;
}
.book .header {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Push buttons to the right end */
    height: 10%;
    width: 97.1%;
    padding: 2rem;
    color: var(--color-darker-gray);
    font-size: 0.9rem;
    font-family: 'Averia Serif Libre', 'Poppins', serif, sans-serif;
}

.book .header .text{
    display: flex;
    align-items: center;
    height: 10%;
    padding: 2rem;
    color: var(--color-darker-gray);
    font-size: 0.9rem;
    font-family: 'Averia Serif Libre', 'Poppins', serif, sans-serif;
    gap: 0.7rem;
}

.book .header h1 {
    color: var(--color-brown-dark);
}

.book .header .text span{
    font-family: 'Averia Serif Libre', 'Poppins', serif, sans-serif;
    color: var(--color-darker-gray);
    font-size: 0.9rem;
    gap: 1rem;
    display: flex;
} 

.book .header h1{
    color: var(--color-brown-dark);
    margin-bottom: 0.8vh;  
}


.book .header button {
    height: 40px;
    width: 50px;
    padding: auto;
    align-items: center;
    background-color: var(--color-white);
    border-radius: 20%;
    transition: all 300ms ease-in-out;
}

.book .header .expand {
    width: 40px;
}

.book .header .expand span {
    font-variation-settings: 'wght' 200;
}

.book .header button span {
    margin: auto;
    color: var(--color-brown-dark);
    align-self: center;
}


.book .body{
    height: 33vh;
    width: 100%;
    
}
